*#
*.iml
*.ipr
*.iws
*.pyc
*.tm.epoch
*.vim
*-shim.sbt
.idea/
/project/plugins/project
project/boot
target/
metastore_db
derby.log
/logs
.cache
.classpath
.project
.settings
native/
.sonar/
.scannerwork/

